#main{
    text-align:center;
}

.invisible{
	display: none;
}

input {
    width: 50px;
    text-align:center;
}

p{
    display: inline-block;
}

.lap{
    display: block;
}

#ratio_div {
    margin-top: 21px;
}
